﻿<!DOCTYPE html>
<html lang="en">
<head>
	<title>Test Task</title>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="" href="/Content/custom-styles.css">
	<script src="/Scripts/jquery-2.2.4.js" type="text/javascript"></script>
	<script src="/Scripts/application/Models.js?time_stamp=1224147832156" type="text/javascript"></script>
	<script src="/Scripts/angular.js" type="text/javascript"></script>
	<script src="/Scripts/application/app.js?time_stamp=1224147832156" type="text/javascript"></script>
	<script src="/Scripts/application/services.js?time_stamp=1224147832156" type="text/javascript"></script>
	<script src="/Scripts/application/controller.js?time_stamp=1224147832156" type="text/javascript"></script>
	<script src="/Scripts/application/directives.js?time_stamp=1224147832156" type="text/javascript"></script>

</head>
<body ng-app="app" ng-controller="Codes as vm" class="instaFade">
	<header class="instaFade quickFade delayOne">
		<nav id="navigation" role="navigation" class="navbar transparent">
			<div class="container-fluid with-marging">
				<div class="navbar-header">
					<span class="navbar-brand large with-theme" href="#">Test&#32;Task<span class="with-theme-orange">.</span></span>
				</div>
				<div class="nav navbar navbar-right">
					<span class="navbar-brand large with-theme" href="#"><span class="with-theme-orange">by&#32;</span>Zinomast</span>
				</div>
			</div>
		</nav>
		<section id="header">
			<div class="container">
				<div class="row">
					<div class="jumbotron trans with-theme with-text-centered">
						<h1 id="homeHeading">Lorem ipsum dolor sit <span class="with-theme-orange">amet</span>!</h1>
						<hr class="fancy">
						<p>Paste code to input field below and get your content.</p>
					</div>
				</div>
			</div>
		</section>
	</header>
	<section id="parser" class="quickFade delayFive">
		<div class="container">
			<div class="row">
				<div class="panel panel-default paddingless semi-trans col-lg-8 col-md-offset-2">
					<div class="panel-body">
						<form name="codeForm">
							<!--<input name="codeInput" type="text" class="form-control with-theme" placeholder="Code here" ng-justenter="vm.get(codeForm)" ng-model="vm.input" ng-maxlength="3" ng-minlength="3" ng-pattern="vm.regex" required />-->
							<input name="codeInput" type="text" class="form-control with-theme" placeholder="Code here" ng-justenter="vm.get(codeForm)" ng-model="vm.input" required my-validation />
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="alerts">
		<div class="container with-marging-bottom">
			<div class="row">
				<div id="parsing-error" class="alert alert-custom-warning alert-dismissible col-lg-8 col-md-offset-2" ng-show="vm.is.error.processError" role="alert">
					<button type="button" class="close" aria-label="Close" ng-click="vm.is.error.processError = false" ><span aria-hidden="true">&times;</span></button>
					<strong>Wow!</strong>&#32;{{vm.err.process_error}}
				</div>
				<div id="server-error" class="alert alert-custom-danger alert-dismissible col-lg-8 col-md-offset-2" ng-show="vm.is.error.serverError" role="alert">
					<button type="button" class="close" aria-label="Close" ng-click="vm.is.error.serverError = false" ><span aria-hidden="true">&times;</span></button>
					<strong>Oops!</strong>&#32;{{vm.err.server_error}}
				</div>
				<!---->
				<div id="invalid-error-short" class="alert alert-custom-danger alert-dismissible col-lg-8 col-md-offset-2" ng-show="codeForm.codeInput.$error.lessThen3" role="alert">
					<button type="button" class="close" aria-label="Close" ng-click="codeForm.codeInput.$error.lessThen3 = false" ><span aria-hidden="true">&times;</span></button>
					<strong>Uh-uh!</strong>&#32;{{vm.err.valids.too_short}}
				</div>
				<div id="invalid-error-long" class="alert alert-custom-danger alert-dismissible col-lg-8 col-md-offset-2" ng-show="codeForm.codeInput.$error.biggerThen3" role="alert">
					<button type="button" class="close" aria-label="Close" ng-click="codeForm.codeInput.$error.biggerThen3 = false"><span aria-hidden="true">&times;</span></button>
					<strong>Uh-uh!</strong>&#32;{{vm.err.valids.too_long}}
				</div>
				<div id="invalid-error-match" class="alert alert-custom-danger alert-dismissible col-lg-8 col-md-offset-2" ng-show="codeForm.codeInput.$error.Matched" role="alert">
					<button type="button" class="close" aria-label="Close" ng-click="codeForm.codeInput.$error.Matched = false"><span aria-hidden="true">&times;</span></button>
					<strong>Uh-uh!</strong>&#32;{{vm.err.valids.pattern}}
				</div>
				<div id="invalid-error-empty" class="alert alert-custom-danger alert-dismissible col-lg-8 col-md-offset-2" ng-show="codeForm.codeInput.$error.Empty" role="alert">
					<button type="button" class="close" aria-label="Close" ng-click="codeForm.codeInput.$error.Empty = false"><span aria-hidden="true">&times;</span></button>
					<strong>Uh-uh!</strong>&#32;{{vm.err.valids.not_null}}
				</div>
				<!---->
				<div id="valid-error" class="alert alert-custom-danger alert-dismissible col-lg-8 col-md-offset-2" ng-show="vm.is.error.validError" role="alert">
					<button type="button" class="close" aria-label="Close" ng-click="vm.is.error.validError = false"><span aria-hidden="true">&times;</span></button>
					<strong>Uh-uh!</strong>&#32;{{vm.err.valid_error}}
				</div>
				<div id="valid-success" class="alert alert-custom-success alert-dismissible col-lg-8 col-md-offset-2" ng-show="vm.is.data.success" role="alert">
					<button type="button" class="close" aria-label="Close" ng-click="vm.is.data.success = false" ><span aria-hidden="true">&times;</span></button>
					<strong>Yes!</strong>&#32;{{vm.success}}
				</div>
			</div>
		</div>
	</section>
	<section id="content-result">
		<div class="container">
			<div class="row" ng-show="vm.is.data.available">
				<table class="table table-bordered with-theme">
					<thead>
						<tr>
							<th ng-repeat="heading in vm.table.headings">
								{{heading}}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in vm.table.body">
							<th >
								{{item.key}}
							</th>
							<th>
								{{item.value}}
							</th>
						</tr>
					</tbody>
				</table>
			</div>
			<hr class="fancy">
		</div>
	</section>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>

